.card-dropShadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.start-gradiant-btn {
  background: linear-gradient(to right, #ff047d 2.19%, #ff8804 99.89%);
  border-radius: 5px;
  width: 81px;
  height: 27px;
  /* padding: 16px; */
  color: white;
  font-weight: 600;
  font-size: 12px;
}
