.done-botton {
  width: 459px;
  height: 65px;
  background: linear-gradient(88.98deg, #ff047d 2.19%, #ff8804 99.89%);
  border-radius: 3px;
  padding: 20px 40px;
  /* font-family: "Montserrat", sans-serif; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
}

.signupTablet {
  width: 450px;
}

@media only screen and (width: 768px) {
  .signupTablet {
    left: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .done-botton {
    width: 260px;
  }
}
