@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.container {
  max-width: 1170px;
}

.navbar-start {
  width: unset;
}

.menu li a {
  font-family: 'Montserrat', sans-serif;

}

.banner {
  background: linear-gradient(206.75deg, #ECF8FF 4.95%, #FBEEFF 50.21%, #FFFFFF 69.89%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-top: 119px;
  position: relative;
}

.banner h1 {
  font-weight: 700;
  font-size: 74px;
  line-height: 94px;
  text-transform: capitalize;
  color: #31374D;
  margin-bottom: 31px;
}

.banner .content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444444;
  margin-bottom: 29px;
}

.banner .amount {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #31374D;
  margin-bottom: 5px;
}

.banner .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(68, 68, 68, 0.85);
}

.banner .heroine {
  position: absolute;
  top: 15%;
  bottom: 0;
  right: 12%;

}

.banner .expert {
  border: 1px solid #8D2CE2;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}

.banner .collection {
  border: 1px solid #8D2CE2;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  right: 17%;
  top: 30%;
}

.gradient_btn {
  background: linear-gradient(88.98deg, #FF047D 2.19%, #FF8804 99.89%);
  border-radius: 15px;
  padding: 20px 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.blue_btn {
  background: #0A0762;
  border-radius: 15px;
  padding: 20px 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.trusted_company {
  /* background-image: url('./assets/bg/circel-bg1.png');
  background-repeat: no-repeat;
  background-position: right top 10%;
  background-size: contain; */
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

.trusted_company .circle_bg {
  position: absolute;
  top: -246px;
  right: 0;
  transform: rotate(337deg);
  z-index: -1;

}



.trusted_company h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #31374D;
  text-align: center;
  margin-bottom: 60px;
}

.title_border {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, #FFFFFF, #FF1949);
  border-image-slice: 1;
  border-radius: 6px !important;
  width: 50% !important;
}

.about_border {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to left, #FFFFFF, #FF1949);
  border-image-slice: 1;
  border-radius: 6px !important;
  width: 50% !important;
}

.about_bg {
  background-image: url('./assets/bg/about-us-bg.png'), url('./assets/bg/circel-bg2.png');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
}